.cooperation {
  width: 100%;
  background: linear-gradient(
    360deg,
    rgba(24, 0, 72, 0.7938) 0%,
    rgba(8, 45, 89, 0.772628) 43%,
    rgba(0, 87, 189, 0.81) 96.86%
  );
}
.cooperation__wrapper {
  padding-top: 75px;
  padding-bottom: 105px;
  box-sizing: border-box;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.cooperation__wrapper h1 {
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 73.08px;
  color: #fff;
  text-transform: uppercase;
}
.cooperation__list {
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  gap: 40px;
}
.cooperation__list li {
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36.54px;
  color: #fff;
}
.cooperation__support {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-top: 130px;
}
.cooperation__support p {
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36.54px;
  color: #fff;
}
