@import url("https://fonts.cdnfonts.com/css/proxima-nova-condensed");
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  border: none;
  cursor: pointer;
}
.body.lock {
  overflow: hidden;
}
.page {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "Proxima Nova Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  background: #100b34;
}
.body.lock {
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
}
.container {
  max-width: 1720px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.header {
  width: 100%;
  height: 100px;
  background: linear-gradient(
    360deg,
    rgba(27, 4, 74, 0.92) 0%,
    rgba(8, 45, 89, 0.953862) 43%,
    #0057bd 96.86%
  );
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 767px) {
  .header {
    height: 60px;
  }
}
.header__wrapper {
  max-width: 1640px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
@media screen and (max-width: 1660px) {
  .header__wrapper {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1390px) {
  .header__wrapper {
    max-width: 100%;
    justify-content: space-between;
  }
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 214px;
}
@media screen and (max-width: 1660px) {
  .header__logo {
    margin-right: 100px;
  }
}
@media screen and (max-width: 1390px) {
  .header__logo {
    margin-right: 0;
  }
}
.logo-main {
  width: 67.04px;
  height: 68.45px;
}
@media screen and (max-width: 767px) {
  .logo-main {
    width: 35px;
    height: 35px;
  }
}
.logo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .logo-item img {
    width: 95px;
  }
}
.logo-item span {
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 18.27px;
  background: linear-gradient(90deg, #999999 0%, #ffffff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.header nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1390px) {
  .header nav {
    width: fit-content;
  }
}
@media screen and (max-width: 1130px) {
  .header nav {
    display: none;
  }
}
.header__links {
  display: flex;
  align-items: center;
  gap: 46px;
}
.header__links li a {
  display: flex;
  align-items: flex-start;
  gap: 7px;
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  border-radius: 15px;
}
.header__links li a img {
  width: 33px;
  height: 33px;
  object-fit: cover;
}
.header__social {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 1390px) {
  .header__social {
    display: none;
  }
}
.social-link {
  width: 50px;
  height: 50px;
  border-radius: 15px;
}
.social-link img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
/*promo*/
.promo {
  width: 100%;
  background: url(../images/promo-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: hidden;
}
.promo__wrapper {
  display: flex;
  align-items: center;
  max-width: 1640px;
  width: 100%;
  margin: 0 auto;
}
.promo__top {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.promo__bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.promo__main {
  margin-top: 135px;
}
.promo__text {
  max-width: 728px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 316px auto 365px 50px;
}
.promo__text h1 {
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 700;
  font-size: 73px;
  line-height: 87.7px;
  color: #fff;
}
.promo__text h1 span {
  background: linear-gradient(81.55deg, #0c7ae6 6.46%, #b200de 51.1%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.promo__text p {
  font-weight: 700;
  font-size: 20px;
  line-height: 24.36px;
  color: #fff;
}
/*offers*/
.offers {
  width: 100%;
  background: url(../images/offers-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: hidden;
}
.offers__top {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.offers__bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.offers__wrapper {
  display: flex;
  align-items: center;
  max-width: 1640px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.offers__inner {
  max-width: 962.29px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 261px;
  margin-bottom: 273px;
  margin-left: 126px;
}
.offers__inner h2 {
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 700;
  font-size: 70px;
  line-height: 85.26px;
  color: #fff;
  text-transform: uppercase;
}
.offers__inner h2 span {
  background: linear-gradient(90deg, #0075ff 0%, #0281e5 46.5%, #3cdee8 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.offers__line {
  max-width: 770px;
  width: 100%;
  height: 10px;
  background: linear-gradient(90deg, #ffffff 0%, #2e1ade 100%);
  position: relative;
  border-radius: 14px;
}
.offers__line::before {
  content: url(../icons/offers-l-arrow.svg);
  position: absolute;
  top: 0;
  left: -80px;
}
.offers__line::after {
  content: url(../icons/offers-r-arrow.svg);
  position: absolute;
  top: 0;
  right: -80px;
}
.offers__arrow {
  width: 60px;
  height: 130px;
}
.offers__items {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 88px;
}
.offers__item {
  width: 255px;
  height: 255px;
  border-radius: 60px;
  background: linear-gradient(
    180deg,
    rgba(44, 11, 91, 0.8) 0%,
    rgba(21, 50, 138, 0.8) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.offers__item span {
  width: 91px;
  height: 91px;
  border-radius: 30px;
  background: #0075ff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offers__item p {
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24.36px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
}
.offers__main {
  position: absolute;
  top: 250px;
  right: -327px;
}
/*in-demand*/
.in-demand {
  width: 100%;
  background: url(../images/in-demand-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.in-demand__top {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.in-demand__bottom {
  width: 100%;
  position: absolute;
  bottom: -150px;
  left: 0;
  z-index: 2;
}
.in-demand__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1372px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.in-demand__title {
  max-width: 710px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 144px auto 77px 0;
  position: relative;
}
.in-demand__title::after {
  content: url(../icons/in-demand-arrow.svg);
  position: absolute;
  bottom: -20px;
  right: 8px;
}
.in-demand__title-check {
  width: 90px;
  height: 90px;
}
.in-demand__title h2 {
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 60.9px;
  color: #fff;
  text-transform: uppercase;
}
.in-demand__title h2 span {
  background: linear-gradient(75.28deg, #406fff 58.43%, #d453ff 86.32%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.in-demand__galery {
  width: 950px;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  gap: 20px 25px;
  margin: 0 auto;
}
.in-demand__item {
  width: 100%;
  height: 405px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(90deg, #171255 0%, #083a80 100%);
}
.in-demand__image {
  width: 100%;
  height: 178px;
  border-radius: 20px 20px 0 0;
}
.in-demand__text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 27px;
  box-sizing: border-box;
}
.in-demand__text h3 {
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 42.63px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.in-demand__button {
  width: 205px;
  height: 62px;
  border-radius: 15px;
  background: #0e52b6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36.54px;
  color: #fff;
  text-transform: uppercase;
}
.in-demand__grid-pre {
  max-width: 1120px;
  width: 100%;
  height: 518px;
  display: flex;
  gap: 26px;
  margin: 0 auto;
}
.pre__item {
  width: 350px;
  height: 480px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background: linear-gradient(90deg, #171255 0%, #083a80 100%);
  margin: 0 auto;
}
.pre__image {
  object-fit: cover;
}
.pre__button {
  width: 261.24px;
  height: 78.41px;
}
.in-demand__more {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 60.9px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 115px;
  cursor: pointer;
}
.in-demand__more.active {
  display: none;
}
.in-demand__back {
  display: none;
}
.in-demand__back.active {
  display: block;
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 60.9px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 100px;
}
.in-demand__grid-pre.active {
  display: none;
}
.in-demand__more img {
  width: 40px;
  height: 65px;
}
/*in-demand__swiper*/
.in-demand__swiper {
  max-width: 1250px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: none;
}
.in-demand__swiper.active {
  display: flex;
}
.swiper-button-prev,
.swiper-button-next {
  width: 25px;
  height: 50px;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 47px;
  font-weight: bold;
  color: #fff;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}
.in-demand__purchase {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0;
}
.in-demand__purchase-text {
  max-width: 740px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.in-demand__purchase-title {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.in-demand__purchase-title img {
  width: 118px;
  height: 118px;
}
.in-demand__purchase-title h2 {
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 60.9px;
  color: #fff;
  text-transform: uppercase;
}
.in-demand__purchase-title h2 span {
  background: linear-gradient(75.28deg, #406fff 58.43%, #d453ff 86.32%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.in-demand__purchase-text h3 {
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 48.72px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 55px;
  margin-left: 10px;
  position: relative;
  width: fit-content;
}
.in-demand__purchase-text h3::after {
  content: url(../icons/in-demand-arrow.svg);
  position: absolute;
  bottom: -8px;
  right: -83px;
}
.in-demand__purchase-items {
  max-width: 440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 41px;
  margin-left: 44px;
  gap: 81px;
}
.in-demand__purchase-item {
  width: 100%;
  padding: 25px 24px 32px 25px;
  box-sizing: border-box;
  border-radius: 20px;
  background: linear-gradient(
    0deg,
    rgba(7, 84, 175, 0.66) 0%,
    rgba(37, 22, 109, 0.66) 100%
  );
  position: relative;
  display: flex;
  align-items: center;
}
.in-demand__purchase-item p {
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 25px;
  line-height: 30.45px;
  color: #fff;
  text-transform: uppercase;
}
.in-demand__purchase-item span {
  width: 67px;
  height: 67px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 900;
  font-size: 35px;
  line-height: 42.63px;
  color: #fff;
  position: absolute;
  top: 30px;
  left: -44px;
  background: linear-gradient(
    0deg,
    rgba(1, 184, 237, 0.36) 0%,
    rgba(37, 21, 109, 0.36) 100%
  );
}
.in-demand__purchase-video {
  width: fit-content;
  flex-direction: column;
}
.in-demand__purchase-video img {
  width: 500px;
}
.video-wrapper {
  width: 458px;
  height: 348px;
  border-radius: 15px;
  background: linear-gradient(180deg, #25156d 5%, #0067d2 100%);
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}
.video-inner {
  width: 100%;
  height: 257.35px;
  border-radius: 15px;
  box-shadow: 0px 4px 12.2px 0px #00000040;
  display: flex;
}
.video-inner video {
  width: 100%;
  height: auto;
  max-height: 100%;
  border-radius: inherit;
}
.video-title {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31.67px;
  color: #fff;
  text-transform: uppercase;
}
/*footer*/
.footer {
  background: url(../images/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
}
.footer__wrapper {
  max-width: 1550px;
  width: 100%;
  margin: 200px auto 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__inner {
  display: flex;
}
.footer__logo {
  width: 176px;
  height: 130px;
  z-index: 3;
  margin-right: 89px;
  margin-top: 44px;
}
.footer__links {
  display: flex;
  flex-direction: column;
  z-index: 3;
}
.footer__links li h4 {
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29.23px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__links li a {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 25px;
  color: #5c6b99;
  margin-bottom: 10px;
}
.footer__links li a img {
  width: 30px;
  height: 30px;
}
.footer__items {
  display: flex;
  flex-direction: column;
  gap: 65px;
  margin-left: 162px;
}
.footer__links-items {
  max-width: 712px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0 20px;
}
.footer__links-items a {
  margin-bottom: 0 !important;
}
.connect-items {
  gap: 5px;
}
.footer__items-bottom {
  display: flex;
  gap: 157px;
}
.babk-links {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer__copyright {
  max-width: 651px;
  width: 100%;
  border-radius: 22px 22px 0 0;
  border: 4px solid #ffffff42;
  border-bottom: none;
  margin: 0 auto;
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 33px;
  color: #fff;
  text-align: center;
  z-index: 3;
}
/*-----адаптив-----*/
.header__burger {
  display: none;
}
@media screen and (max-width: 1390px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
}
@media screen and (max-width: 1390px) {
  .header__burger:before {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 0;
    left: 0;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 1390px) {
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 1390px) {
  .header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 1390px) {
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 1390px) {
  .header__burger span {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 9px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 1390px) {
  .header__burger.active span {
    transform: scale(0);
  }
}
/*mobile-menu*/
.mobile-menu {
  width: 100%;
  position: fixed;
  inset: 0;
  top: -100%;
  width: 100%;
  height: 100dvh;
  background: linear-gradient(
    360deg,
    #1d1359 3.42%,
    #261d5c 51.51%,
    #073c80 86.62%
  );
  transition: all 0.2s ease-in-out;
}
.mobile-menu.active {
  top: 100px;
}
@media screen and (max-width: 767px) {
  .mobile-menu.active {
    top: 60px;
  }
}
.mobile-menu__wrapper {
  width: 100%;
  height: 100%;
  padding: 40px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.mobile-menu__links {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.mobile-menu__links li a {
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 41.41px;
  color: #fff;
  text-transform: uppercase;
}
.mobile-menu__sep {
  display: block;
  width: 220px;
  height: 3px;
  background: #ffffff;
  margin: 55px auto 0;
}
.mobile-menu__social {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 25px auto 0;
}
.mobile-menu__social li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 53px;
  height: 53px;
  border-radius: 10px;
  background: linear-gradient(90deg, #0075ff 0%, #331bab 100%);
}
